// src/components/AddFruitForm.module.scss
@import '../styles/variables';
@import '../styles/buttons';

.fruitForm {
  background-color: $surface-container;
  padding: $spacing-lg;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  h2 {
    // Adicionando um estilo para o título
    margin: 0;
    text-align: center;
    color: $on-surface;
  }

  label {
    // Adicionando estilo para as labels
    text-align: left;
    font-weight: bold;
    color: $on-surface-variant;
    margin-bottom: -8px; // Aproxima a label do seu input
  }

  input,
  select {
    padding: $spacing-sm $spacing-md;
    border-radius: 4px;
    border: 1px solid $outline;
    font-size: 16px;
  }
}

// NOVO: Container para os botões
.actionsContainer {
  display: flex;
  justify-content: flex-end; // Alinha os botões à direita
  gap: $spacing-sm;
  margin-top: $spacing-md;
}
